<?xml version="1.0"?> 
<robot name="myrobot" xmlns:xacro="http://wiki.ros.org/xacro">
    <!--xacro:include filename="head.urdf.xacro" /-->
    <xacro:include filename="xacro_robot_base.urdf.xacro" />
    <xacro:include filename="camera.urdf.xacro" />
    <xacro:include filename="lidar.urdf.xacro" />
    <!--xacro:include filename="move.urdf.xacro" /-->
</robot>
