<launch>
  <arg name="pkg_name" value="trafficlight_detection"/>
  <arg name="node_name" value="traffic_light_node"/>
  <arg name="param_file_name" default="detection_default" doc="Specify a param file. ex:megaman"/>
  <arg name="required" default="false" />
 
    <node  pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" respawn="true" respawn_delay="10" output="screen" required="$(arg required)">
      <rosparam command="load" file="$(find trafficlight_detection)/config/$(arg node_name)/$(arg param_file_name).yaml"/>
    </node>
</launch>